body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-image: url(https://images.pexels.com/photos/518389/pexels-photo-518389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    color: white;
}
.center {
    margin: auto;
    width: 400px;
    padding: 10px;
}
.section-header {
    text-align: center;
}
ul{
    color: white;
    font-size: 16px;
}
table, td, tr {
    border: 3px solid white;
    border-collapse: collapse;
    padding: 3px;
}
.form-group {
    margin: 10px;
}
.form-group label {
    font-size: 16px;
}
.form-control {
    width: 100%;
    border: 3px solid rgb(115, 174, 214);
}